.contact-box{
    margin-top: 25px;
    display: flex;
    justify-content: right;
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(90deg, #b2dddf 0%, #31b7bc 100%);
    color: #333;
    font-size: 25px;
    width:fit-content;
    height: fit-content;
}

