.courses-header{
    justify-self: center;
    justify-content: center;
    
}

.h2 {
    size: 12px;
    justify-self: center;
}

.course-box{
    width: 300px;
    height: fit-content;
}
  
.course-list{
    list-style-type: none;
}

.grid-header{
    justify-self: center;
    justify-content: center;
}