.HomePage {
    font-family: 'Montserrat', sans-serif;
}

.h1{
    font-weight: bold;
    font-size: 30px;
}
.readMore
{
    text-align: right;
    font-size: 16px;
}

.toolbarLink:link{
    font-family: 'Montserrat', sans-serif;
    color: black;
  }

  .toolbarLink:visited{
    font-family: 'Montserrat', sans-serif;
    color: black;
  }

  .toolbarLink:hover {
    color: peachpuff;
  }

  .toolbarLink:active {
    color: black;
  }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');